footer {
    padding: 2rem;
    background-color: $background-color4;
    .logo {
      object-fit: cover;
      width: 10rem;
      filter: invert(100%);
      height: auto;
      margin-bottom: 1rem;
    }
    .footer__list {
      &__link {
        color: white;
        display: flex;
        width: 70%;
        margin-bottom: 1rem;
        i {
          width: 2rem;
        }
      }
    }
    @include display-desktop{
      box-shadow: box-shadow($shadow-color1);
    }
  }