.menu {
  @include flex-column-nowrap;
  z-index: 2;
  border-radius: 2rem 2rem 0 0;
  background-color: $background-color2;
  position: relative;
  margin-top: -3rem;
  &__header {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 0.5rem;
    h1 {
      font-family: $font-header;
      font-size: 1.7rem;
      @include display-desktop {
        font-size: 2rem;
      }
    }
  }
  &__meals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
    li {
      width: 100%;
      h2 {
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        color: $font-color2;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        em {
          padding: 0.3rem 0;
          border-bottom: solid 0.2rem $color-tertiary;
        }
      }
      @include display-desktop {
        width: 30%;
      }
    }
    &__selection {
      @include flex-column-nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-around;
      margin-bottom: 3rem;
      li {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
  @include display-desktop {
    margin: -3rem 15% 0 15%;
  }
}
