@keyframes spinner-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spinner-opacity {
  0%{
    opacity: 1;
    z-index: 2;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes heart-scale {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}
@keyframes heart-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes meal-checked {
  0% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes meal-loading {
    0% {        
        opacity: 0;
    }
    50% {
        transform: translateY(5%);
    }
    75% {
    }
    100% {
        opacity: 1;
    }
}
