@keyframes heart-filling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes meal-checked {
  0% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes meal-loading {
    0% {        
        opacity: 0;
    }
    50% {
        transform: translateY(5%);
    }
    75% {
    }
    100% {
        opacity: 1;
    }
}