@mixin flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}
@mixin text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin pseudo-element {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin display-tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin display-desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
